<p id="notice"><%= notice %></p>

<h1>Listing Minis</h1>

<table>
  <thead>
    <tr>
      <th>Film title</th>
      <th>Imdb</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @minis.each do |mini| %>
      <tr>
        <td><%= mini.film_title %></td>
        <td><%= mini.imdb_id %></td>
        <td><%= mini.rating %></td>
        <td><%= link_to 'Show', mini %></td>
        <td><%= link_to 'Edit', edit_mini_path(mini) %></td>
        <td><%= link_to 'Destroy', mini, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mini', new_mini_path %>
