<p id="notice"><%= notice %></p>

<p>
  <strong>Film Title:</strong>
  <%= @mini_film.title %>
</p>

<p>
  <strong>Date Viewed:</strong>
  <%= @mini.date_viewed %>
</p>

<p>
  <strong>IMDB ID:</strong>
  <%= @mini.imdb_id %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @mini.rating %>
</p>

<p>
  <strong>Poster:</strong>
  <%= @mini_film.poster_url %>
</p>

<p>
  <strong>Runtime:</strong>
  <%= @mini_film.runtime %>
</p>

<p>
  <strong>Release Date:</strong>
  <%= @mini_film.release_date %>
</p>

<p>
  <strong>Tagline:</strong>
  <%= @mini_film.tagline %>
</p>

<p>
  <strong>Plot:</strong>
  <%= @mini_film.plot %>
</p>

<p>
  <strong>Certification:</strong>
  <%= @mini_film.certification %>
</p>

<p>
  <strong>IMDB Rating:</strong>
  <%= @mini_film.rating %>
</p>

<p>
  <strong>Director:</strong>
  <%= @mini_film.directors.first.name %>
</p>

<p>
  <strong>First Stooge:</strong>
  <%= @mini_film.actors.first.name %>
  <%= @mini_film.actors.first.role %>
</p>

<p>
  <strong>Second Stooge:</strong>
  <%= @mini_film.actors.second.name %>
  <%= @mini_film.actors.second.role %>
</p>

<p>
  <strong>Third Stooge:</strong>
  <%= @mini_film.actors.third.name %>
  <%= @mini_film.actors.third.role %>
</p>

<p>
  <strong>Genres:</strong>
  <%= @mini_film.genres.first %>
  <%= @mini_film.genres.second %>
  <%= @mini_film.genres.third %>
</p>



<%= link_to 'Edit', edit_mini_path(@mini) %> |
<%= link_to 'Back', minis_path %>
