<p id="notice"><%= notice %></p>

<p>
  <strong>Film Title:</strong>
  <%= @mini.film_title %>
</p>

<p>
  <strong>Date Viewed:</strong>
  <%= @mini.date_viewed %>
</p>

<p>
  <strong>IMDB ID:</strong>
  <%= @mini.imdb_id %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @mini.rating %>
</p>


<%= link_to 'Edit', edit_mini_path(@mini) %> |
<%= link_to 'Back', minis_path %>
