<!DOCTYPE html>
<html>
<head>
  <title>Dlm365</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: "alert alert-info" %>
  <% end %>

  <nav>
    <div class="nav-wrapper">

      <a href="#" class="brand-logo right">DLM 365</a>

      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/minis">Index</a></li>
        <li><a href="/minis">Statistics</a></li>
        <li><a href="/minis">About</a></li>
      </ul>
    </div>

  </nav>

  <%= yield %>
  <!-- Dropdown Trigger for User Controls-->
  <a class='dropdown-button btn' href='#' data-activates='dropdown1'>User Controls</a>

  <!-- Dropdown Structure for User Controls -->
  <p class="z-depth-4"><ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!"><%= link_to "Login", login_path, id: "login" %></a></li>
    <li><a href="#!">
        <% if current_user %>
          <%= link_to "New Minis", new_mini_path %>
        <% end %></a></li>
    <li><a href="#!">
        <% if current_user %>
          <%= link_to "Logout", logout_path, method: :delete %>
        <% end %></a></li></p>
  </ul>
  <!-- End User Controls -->
</body>
</html>
